<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="warning">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<form action="/inv/create" method="post">
  <!-- Make -->
  <label for="inv-make">Make:</label>
  <input 
    type="text" 
    name="inv_make"
    id="inv-make" 
    required 
    value="<%= locals.inv_make %>"
    placeholder="Ford"
    >
  
  <!-- Model -->
  <label for="inv-model">Model:</label>
  <input
    type="text"
    name="inv_model"
    id="inv-model"
    required
    value="<%= locals.inv_model %>"
    placeholder="Bronco"
  >
  
  <!-- Year -->
  <label for="inv-year">Year:</label>
  <input 
    type="number" 
    name="inv_year" 
    id="inv-year" 
    required 
    value="<%= locals.inv_year %>"
    placeholder="1967"
    >
  
  <!-- Description -->
  <label for="inv-description">Description:</label>
  <textarea 
    name="inv_description" 
    id="inv-description" 
    required 
    placeholder="The ford bronco is..."
  ><%= locals.inv_description %></textarea>

  <!-- Image -->
  <label for="inv-image">Image:</label>
  <input type="text" name="inv_image" id="inv-image" required value="<%= locals.inv_image %>" placeholder="image.jpg">
  
  <!-- Thumbnail -->
  <label for="inv-thumbnail">Thumbnail:</label>
  <input type="text" name="inv_thumbnail" id="inv-thumbnail" required value="<%= locals.inv_thumbnail %>" placeholder="image-tn.jpg">

  <!-- Price -->
  <label for="inv-price">Price:</label>
  <input type="text" name="inv_price" id="inv-price" required value="<%= locals.inv_price %>" placeholder="2499.99">
  
  <!-- Miles -->
  <label for="inv-year">Miles:</label>
  <input type="number" name="inv_miles" id="inv-miles" step="0.01" required value="<%= locals.inv_miles %>" placeholder="12345.67">
  
  <!-- Color -->
  <label for="inv-color">Color:</label>
  <input type="text" name="inv_color" id="inv-color" required value="<%= locals.inv_color %>"  placeholder="Blue">
  
  <!-- Classification -->
  <label for="classification-list">Classification:</label>
  <%- classificationList %>

  <button type="submit">Create</button>

</form>