<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="warning">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<form action="/inv/update" method="post" id="inventory-form">

  <!-- inventory id -->
  <input type="hidden" name="inv_id"
  <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>

  <!-- Classification -->
  <div class="full-width">
    <label for="classification-list">Classification:</label>
    <%- classificationList %>
  </div>

  <!-- Make -->
  <div>
    <label for="inv-make">Make:</label>
    <input 
      type="text" 
      name="inv_make"
      id="inv-make" 
      required 
      value="<%= locals.inv_make %>"
      pattern=".{2,}"
      placeholder="Min 2 Characters"
      >
  </div>
  
  <!-- Model -->
  <div>
    <label for="inv-model">Model:</label>
    <input
      type="text"
      name="inv_model"
      id="inv-model"
      required
      pattern=".{3,}"
      value="<%= locals.inv_model %>"
      placeholder="Min 3 Characters"
    >
  </div>
  
  <!-- Year -->
  <div>
    <label for="inv-year">Year:</label>
    <input 
      type="text"
      inputmode="numeric"
      name="inv_year"
      id="inv-year"
      required
      pattern="[0-9]{4}"
      value="<%= locals.inv_year %>"
      placeholder="4-Digits Required"
    >
  </div>

  <!-- Color -->
  <div>
    <label for="inv-color">Color:</label>
    <input type="text" name="inv_color" id="inv-color" required value="<%= locals.inv_color %>" pattern="^[a-zA-Z\-]+" placeholder="Eg. Blue, Red, Gold...">
  </div>
  
  <!-- Description -->
  <div class="full-width">
    <label for="inv-description">Description:</label>
    <textarea 
      name="inv_description" 
      id="inv-description" 
      required 
      placeholder="Information about the vehicle..."
    ><%= locals.inv_description %></textarea>
  </div>

  <!-- Image -->
  <div>
    <label for="inv-image">Image:</label>
    <input type="text" name="inv_image" id="inv-image" required value="<%= locals.inv_image %>" placeholder="image.jpg" pattern="^[^\s]+\.(jpg|jpeg|png|gif|bmp)$">
  </div>
  
  <!-- Thumbnail -->
  <div>
    <label for="inv-thumbnail">Thumbnail:</label>
    <input type="text" name="inv_thumbnail" id="inv-thumbnail" required value="<%= locals.inv_thumbnail %>" placeholder="image-tn.jpg" pattern="^[^\s]+\.(jpg|jpeg|png|gif|bmp)$">
  </div>

  <!-- Price -->
  <div>
    <label for="inv-price">Price:</label>
    <input type="number" name="inv_price" id="inv-price" required value="<%= locals.inv_price %>" step="0.01" placeholder="Integer or decimal only">
  </div>
  
  <!-- Miles -->
  <div>
    <label for="inv-year">Miles:</label>
    <input type="number" name="inv_miles" id="inv-miles" required value="<%= locals.inv_miles %>" placeholder="Integer Only">
  </div>
  
  <button type="submit" class="full-width">Update vehicle</button>

</form>